body{
    margin: 0px;
    border:0px;
    padding: 0px;
    background-color: #404258;
}
header{
    color: white;
    background-color: #50577A;
    text-transform: uppercase;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    color:inherit;
    text-decoration: none;
}
.nav-bar:hover{
    transition: 0.8s;
    background: #474E68;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
img{
    height: 95px;
}
.apresentation{
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #6B728E;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.box-projects{
    background-color: #6B728E;
    display:inline-block;
    margin: 20px;
    padding-top: 15px;
    text-align: -webkit-center;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    width: 190px;

}
.box-projects:hover{
    transition: 0.5s;
    text-decoration: none;
    background-color: #474E68;

}
.image-gow-project:hover{
    cursor: url('http://www.rw-designer.com/cursor-view/35233.png'),auto;
}
footer{
    background-color: #6B728E;

}
.social-media{
    display: grid;
    width: 50px;
}